<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="A focused todo application that keeps your list short">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Focused Todo</title>
  <link rel="stylesheet" href="styles.css">
  <!-- development version, includes helpful console warnings -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <!-- production version, optimized for size and speed -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
</head>
<body>
  <h1>Focused Todo</h1>
  <p>Welcome to your todo list, what makes it focused? You can only add ten tasks to the list, when you open the list tomorrow there will only be 5 items on the list. The five items with the lowest priority will be removed automatically. This forces you to really focus on what needs to be done each day, allowing you to add new items each day, but you must complete them!</p>
  <div id="todoApp">
    <input 
      v-model="newTodoText"
      v-on:keyup.enter="addNewTodo"
      placeholder="Add a todo"  
    >
    <ul>
      <li
        is="todo-item"
        v-for="(todo, index) in todos"
        v-bind:key="todo.id"
        v-bind:title="todo.title"
        v-bind:options="options"
        v-bind:id="todo.id"
        v-on:remove="removeTodo(index)"
        v-on:update-list="updateList"
      ></li>
    </ul>
  </div>
  <script src="scripts.js"></script>
</body>
</html>