* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Cabin', sans-serif;
  letter-spacing: 1px;
}

body {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  color: whitesmoke;
  background: #667db6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #667db6, #0082c8, #667db6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #667db6, #0082c8, #667db6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#todoApp {
  margin: 30px;
}

#listContainer {
  text-align: left;
  width: 400px;
  margin: 0 auto;
}

h1 {
  font-size: 3rem;
  margin: 20px;
  font-style: italic;
}

input {
  margin: 20px;
  width: 300px;
  font-size: 1.2rem;
  color: whitesmoke;
  text-align: center;
  background-color: transparent;
  border-bottom: 2px solid lightskyblue;
  border-left: none;
  border-right: none;
  border-top: none;
}

input:focus {
  outline: none;
}

p {
  margin: 20px;
}

::-webkit-input-placeholder { /* Chrome */
  color: whitesmoke;
  opacity: 0.8;
}
:-ms-input-placeholder { /* IE 10+ */
  color: whitesmoke;
  opacity: 0.8;
}
::-moz-placeholder { /* Firefox 19+ */
  color: whitesmoke;
  opacity: 0.8;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: whitesmoke;
  opacity: 0.8;
}

li {
  margin: 20px;
  list-style: none;
  border-bottom: 1px solid lightskyblue;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}

button {
  margin: 20px;
  width: 75px;
  font-size: 1.2rem;
  color: whitesmoke;
  text-align: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.remove {
  border: 2px solid whitesmoke;
  border-radius: 2px;
  background-color: transparent;
  width: 16px;
  height: 16px;
  margin: 0 10px 0px 10px;
  cursor: pointer;
}

a {
  position: fixed;
  bottom: 20px;
  left: 40px;
  text-align: center;
  text-decoration: none;
  color: whitesmoke;
}

select {
  font-size: 1.2rem;
  width: 45px;
  color: whitesmoke;
  -webkit-appearance: none; 
  -moz-appearance: none;
  background-color: transparent;
  border-bottom: none;
  border-left: 2px solid lightskyblue;
  border-right: none;
  border: none;
  padding: 5px;
  background: url('/images/hamburger.png') no-repeat right/37%;
  cursor: pointer;
}

option {
  color: black;
}

@media only screen and (max-width: 800px) {
  body {
    width: 100%;
  }
}